# Directories
.vs/
.vscode
.history/
bin/
bin-int/

# Files
*.user

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

Sandbox/**.json
Sandbox/imgui.ini
Sandbox/Hazel.log
